body {
    padding: 5vh;
    text-align: center;
    background: black;
    color: white;
    font-family: Segoe UI;
}
a {
    color: white;
}
a:hover {
    color: firebrick;
}
ol {
    position: absolute;
    left: 50vw;
    top: 15vh;
    transform: translate(-50%, 0%);
}
li {
    text-align: left;
    font-size: 1.5em;
    transition: color 0.25s linear;
}
li:hover {
    color: firebrick;
}