body {
    padding: 5vh;
    text-align: center;
    background: black;
    color: white;
    font-family: Segoe UI, Colibri;
    width: 600px;
    margin: 0 auto;
}

a {
    color: white;
}
a:hover {
    color: firebrick;
}
ol {
    margin: 0 30%;
}
li {
    text-align: left;
    font-size: 1.5em;
    transition: color 0.25s linear;
    cursor: pointer;
}
li:hover {
    color: firebrick;
}