/* Presentation iframe */
#home-button {
    position: fixed;
    font-size: 2.25em;
    z-index: 30;
    right: 120px;
    bottom: 48px;
}

#home-button a {
    color: #42affa;
    text-decoration: unset;
}
#home-button a:hover {
    color: #8dcffc;
}

/* First slide */
.authors-section {
    position: relative;
    height: 5em;
    width: 50%;
    z-index: 1;
}
.authors-section td:nth-child(2) {
    text-align: right;
}
.companies-section {
    position: relative;
    top: -5em;
    left: 50%;
    height: 5em;
    width: 50%;
}
.companies-section a {
    display: block;
    width: 100%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.ubisoft-logo {
    background-image: url(../resources/common/ubisoft_logo.svg);
    filter: invert(1);
}

.kipi-logo {
    background-image: url(../resources/common/kipi_logo.svg);
}

/* General styles */
.high-contrast-text {
    text-shadow: 2px 0 0 rgb(34, 34, 34),
    -2px 0 0 rgb(34, 34, 34),
    0 2px 0 rgb(34, 34, 34),
    0 -2px 0 rgb(34, 34, 34),
    1px 1px rgb(34, 34, 34),
    -1px -1px 0 rgb(34, 34, 34),
    1px -1px 0 rgb(34, 34, 34),
    -1px 1px 0 rgb(34, 34, 34)
    !important;
}

.attribution {
    font-size: 0.65em !important;
    font-style: italic !important;
}

/* Override some defaults */
.reveal pre code {
    max-height: 450px;
}